body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  
  .intro {
    display: flex;
  }
  
  .half-width {
    width: 50%;
    padding: 100px;
  }
  
  .half-width img {
    width: 100%;
  }
  
  .button {
    text-decoration: none;
    background-image: linear-gradient(90deg, #24a3fd, #126ff7);
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 12px 30px;
    box-shadow: 5px 5px 100px #24a3fd;
  }
  .about {
    background-image: url(images/frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .recipe-card1 {
    margin: 50px;
    padding: 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .recipe-card2 {
    margin: 50px;
    padding: 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .recipe-card3 {
    margin: 50px;
    padding: 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .recipe-card {
    justify-content: flex-end;
  }
  .recipe-card img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  
  .recipe-h2 {
    opacity: 0.5;
    text-align: center;
  }
  .recipe-p {
    opacity: 0.6;
    text-align: center;
  }
  .form {
    background-image: url(images/contact-form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .form-box {
    color: #126ff7;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
  }
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  input[type="submit"] {
    background-image: linear-gradient(180deg, #24a3fd, #126ff7);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .tips-h2 {
    opacity: 0.5;
    text-align: center;
  }
  .tips-p {
    opacity: 0.6;
    text-align: center;
  }
  .tips-card {
    text-align: center;
  }
  .tips-card img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  .tips-card1 {
    margin: 50px;
    padding: 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  
  .tips-card2 {
    margin: 50px;
    padding: 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  
  .tips-card3 {
    margin: 50px;
    padding: 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  
  .popular {
    text-align: center;
  }
  
  .subscribe {
    margin: 10% 25%;
    width: 50%;
  
    background-image: linear-gradient(180deg, #80beeb, #3d85f0);
    box-shadow: 0 4px 24px 0 rgba(74, 32, 172, 0.5),
      0 6px 20px 0 rgba(61, 28, 138, 0.19);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .subs-box {
    color: snow;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }
  
  footer {
    background-color: #126ff7;
    text-align: center;
    padding: 50px;
  }
  
  