body {
  background-color: #e4f7cd;
  background-image: radial-gradient(rgb(253, 252, 242), lemonchiffon, #e4f7cd, darkseagreen, rgb(253, 252, 242));
  margin: auto;
}

#icon {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 65px;
  border: 2px solid #912a2d;
  border-radius: 10px;
  box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

h1 {
  font-family: "Neucha", fantasy, cursive;
  font-size: 26px;
  color: #912a2d;
  font-variant: small-caps;
  text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

#top-h1 {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-variant: small-caps;
}

#motto {
  float: right;
  margin-right: -233px;
  margin-top: 35px;
  padding-right: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif
}

#sage {
  display: none;
}

nav {
  margin: 0 auto;
  background-color: #9b5153;
  background-image: linear-gradient(to right, #912a2d, #2094ca);
  margin-top: -21px;
}

.navigation {
  list-style: none;
  padding: 0;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.navigation li:first-child {
  display: block;
  height: 45px;
}

.container {
  display: inline-block;
  cursor: pointer;
  margin-top: -10px;
}

#menu {
  margin-top: 2px;
  margin-left: 17px;

}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  font-weight: lighter;
  color: white;
  letter-spacing: .1em;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.active {
  background-color: #912a2d;
  /*background-image: linear-gradient( #a5040a, rgb(255, 238, 0));*/
  box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

.ham a {
  text-align: left;
}

h2 {
  font-family: "Neucha", fantasy, cursive;
  font-size: 38px;
  color: #912a2d;
  text-align: center;
  text-shadow: rgb(227, 241, 252) 3px 3px 5px;
  margin-bottom: 0px;
}

/*Gallery Main--------------------------------------*/
.gallery-title {
  font-size: 28px;
}

main,
.containerb {
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.gallery {
  width: 100%;
  padding-bottom: 30px;
}

figcaption {
  display: none;
}


h3 {
  font-family: "Neucha", fantasy, cursive;
  font-size: 25px;
  color: #912a2d;
  text-shadow: rgb(167, 213, 248) 3px 3px 5px;
  text-align: center;
  line-height: .5;
}

p {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}


/*MAIN PRESTON HOME PAGE---------------------------------------*/
#pancakes {
  display: none;
  background-color: lemonchiffon;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 0 2px;
  text-align: center;
}

#pancakes.show {
  display: block;
}
.hero-box {
  position: relative;
  margin-top: 10px;
}

.hero-box h3 {
  margin-top: 0px;
  padding: 15px 0 0 0;
  font-family: "Neucha", fantasy, cursive;
  font-size: 20px;
  color: rgb(253, 215, 1);
  text-shadow: rgb(1, 59, 99) 2px 2px 2px;
}

.yellow {
  color: rgb(253, 215, 1);
  text-shadow: rgb(1, 59, 99) 2px 2px 2px;
  line-height: .5em;
}

.hero-box p {
  margin-top: -1px;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

#heroimg img {
  width: 100%;
}


.weather-summary {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(1, 85, 134, 0.85);
  border: rgb(1, 82, 136) solid 2px;
  color: white;
  padding: 0 15px;
  max-width: 45%;
  border-radius: 60px 0 60px 0;
  box-shadow: 0 0 55px lemonchiffon;
}

.weather-summary p {
  text-align: left;
  font-size: 14px;
  line-height: .7;
}
.hide{
  display: none;
}

#rodeo {
  max-width: 550px;
  border-radius: 5px;
}

#widerodeo {
  display: none;
}

#forecast {
  display: none;
}

.article,
.article-wide {
  margin: 0 20px;
  line-height: 1.5;
}

.article-wide a:hover,
.google-maps a:hover, #weather-link a:hover {
  color: blue;
  text-shadow: blue 2px 2px 3px;
}

#big {
  display: none;
}

.google-maps {
  position: relative;
  text-align: center;
}

#tent {
  max-width: 100%;
}

.graybox {
  padding: 20px 15px;
  margin: 20px 25px;
  border: lightgray dotted 2px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 30px gray;
}

.graybox p {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: dimgray;
  font-size: 15px;
}

.graybox a img {
  margin: 5px;
}

.social {
  position: relative;
  margin-left: 55px;
}

.social a:link,
a:visited {}

.social a:hover {
  background-color: cyan;
  transition: 1.5s;
}

#map1 {
  display: none;
}

#map {
  max-width: 100%;
  margin-bottom: -5px;
}
#weather-link {
  margin-left: 50px;
  margin-top: -17px;
}
#imagesrc, #imagesrc2, #imagesrc3, #imagesrc4, #imagesrc5{
  display: none;
}
/* best foods in south calorina-------------------- */
.checked {color: orange;}
h1{color:#fff}
img{border-radius:30px;padding-bottom:10px;}
p{padding-top:0px;font-style:italic;}
.flr{float:right}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, rgb(205 231 38 / 12%), #f5b800);
    border-radius: .3rem;
    
}
/*End best foods in south calorina-------------------- */

/*Storm Center Form Main----------------------*/
.form-title {
  text-align: center;
  font-family: "Neucha", fantasy, cursive;
  font-size: 28px;
}

.formMain {
  max-width: 465px;
  margin: auto;
}

form {
  font-family: "Poppins", sans-serif;
  color: #7c0206;
}

form fieldset {
  margin: 1rem 0 3rem 0;
  border: 1px solid #1e316d;
  border-radius: 10px;
  padding: .5rem 2%;
  max-width: 100%;
}

form legend {
  margin: 0 1rem;
  padding: 0 .5rem;
  color: #1e316d;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  max-width: 93%;
}

form label.top input,
form label.top select,
form label.top select.option {
  -webkit-appearance: none;
  display: block;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 100%;
  background-color: white;
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
  max-width: 100%;
}

.space {
  margin-top: -15px;
  padding: .5rem;
  width: 94%;
  height: 215px;
  border-radius: 5px;
}

form label.top input:required {
  border-left: #aa2a2e solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

.flexly {
  display: flex;
  align-items: center;
}

#white {
  background-color: white;
  width: 200px;
  color: #555;
}

#ratingvalue {
  margin: 0 15px;
}

form input.submitBtn {
  border: none;
  background-color: #912a2d;
  color: white;
  border-radius: 10px;
  padding: .75rem 1.5rem;
  margin: 0 0 20px 40px;
  width: 75%;
  max-width: 20rem;
}

h3.thankyou {
  font-family: "Neucha", fantasy, cursive;
  text-align: center;
  line-height: 1.25em;
  font-size: 20px;
  color: #912a2d;
  text-shadow: rgb(227, 241, 252) 3px 3px 5px;
  margin: 50px;

}

.thanksImg {
  display: none;
}



/*------------end of form---------*/


/*main LESSON 9 HOME-------------------------*/
#flashflood {
  display: block;
  margin: 130px auto 0 auto;
  width: 100%;
}

#storybox {
  position: absolute;
  background-color: rgb(141, 215, 245, .85);
  padding: 0 15px;
  margin: -255px 50px 0px 50px;
  font-family: "Poppins", Helvetica, sans-serif;
  text-align: justify;
  border: #a5040a dotted 5px;
  border-radius: 10px;
}

townbox h1,
townbox h2,
townbox h3,
townbox h4,
townbox h5,
townbox h6 {
  text-align: center;
}

townbox h1 {
  font-family: "Neucha", fantasy, cursive;
  font-size: 32px;
  font-variant: none;
  border-bottom: gold dotted 5px;
}

townbox h2 {
  text-shadow: transparent 3px 3px 5px;
  color: black;
  font-family: fantasy, serif;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 35px;

}

townbox h3,
townbox h4,
townbox h5 {
  text-shadow: transparent 3px 3px 5px;
  color: black;
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: .3em;
}

townbox h5 {
  margin-top: -1px;
}

townbox img {
  width: 100%;
}

townbox {
  width: 85%;
  margin: auto;
  background-color: lemonchiffon;
  border: gold dotted 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: darkslategray 0 0 20px;
}

.cards {
  margin-top: 50px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
}

townbox:nth-child(1) {
  grid-row: 3;

}

/*---------------------------------------footer------------------------*/

.bottom {
  text-align: center;
  font-family: Poppins, Helvetica, sans-serif;
  margin: 50px 0 20px 0;

}

.bottom a {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: black;
  font-size: 16px;
  font-weight: bolder;
  background-image: url(https://janettekaymak.github.io/lesson9/wire-frame/images/desktop-frame.jpg);
  background-size: 20em;
  padding: 50px 5px 5px 5px;
  border-radius: 5px;
  border: dotted 3px;
}

.bottom a:hover {
  font-size: 20px;
  transition: 1s;
}

#desk,
#pad {
  display: none;
}

footer {
  background-color: rgb(141, 213, 247);
  background-image: linear-gradient(rgb(214, 240, 252), rgb(2, 94, 156));
  padding: 12px 0px .1px 0px;
  box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

footer p {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin-top: -5px;
}

footer a {
  background-color: #a5040a;
  padding: 2px 3px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: mediumblue;
  border: mediumblue solid 1px;
  background-color: white;
  font-size: 14px;
  transition: 1s;
}

#today {
  display: block;
}

/* the onclick JS toggles the .reponsive class from display none 
(.navigation li) to display block because the responsive class is 
added to the end of the class list like this in HTML.
<ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
