@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

/* Applies to everything in the document */
* {
    font-family: 'Montserrat', sans-serif;
}

/* BANNER */
.banner {
    position: sticky;
    top: 0px;
    z-index: 10;
    background: #fca311;
}

.banner-content {
    max-width: 650px;
    padding: 4px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.banner-text {
    flex-grow: 1;
    line-height: 1.4;
    font-weight: 500;
}

.banner-button {
    background: none;
    border: none;
    cursor: pointer;
}

.banner-button img {
    width: 30px;
}

.banner-text,
.banner-button > span {
    color: black; 
}

.banner-button > span:hover {
    color: #14213d;
}

/* HEADER */
header {
    background-color: #14213d;
    display: grid;
   grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    margin: auto;
}

header img {
    filter: invert(1);
}


#logo img {
    width: 300px;
    padding: 20px;
}

nav {
    margin: auto;
    grid-column: 1/3;
}

nav li {
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

nav a:hover {
    color: #fca311;
}

#hamburger {
    color: #e5e5e5;
    text-decoration: none;
    grid-column: 2;
    text-align: right;
    margin: auto;
    font-size: 3em;
}

.responsive  li{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40px;
}

.socials img {
    width: 24px;
}

.socials {
    display: block;
    grid-row: 2;
    grid-column: 1/3;
    margin: auto;
}

.date {
    color: #e5e5e5;
    font-style: italic;
    text-align: center;
    background-color: #14213d;
    padding-bottom: 10px;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

main h1 {
    display: none;
}

#spotlights h2 {
    display: none;
}

main section {
    /* height: 400px; */
    object-fit: cover;
}

main section div {
    height: 200px;
}

main section,  main section div {
    background-color: #e5e5e5;
    margin: 10px;
    text-align: center;
    /* border: 2px solid #14213d; */
}

#hero, #spot1, #spot2, #spot3 {
    display: inline-block;
    overflow: hidden;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero button {
    background-color: #14213d;
    color: #e5e5e5;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 200px;
    z-index: 5;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
}

#spotlights {
    height: 100%;
}

#spot1 img, #spot2 img, #spot3 img {
    /* filter: brightness(.5); */
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: relative; */
}

#spot1 h3, #spot2 h3, #spot3 h3 {
    background-color: #14213d;
    color: #e5e5e5;
    z-index: 3;
    position: relative;
    top: 200px;
    font-size: 2em;
}

#spotlights a {
    text-decoration: none;
}

#spotlights h3:hover {
    color: #fca311;
}

#spot1, #spot2, #spot3 {
    width: 95%;
    height: 400px;
    /* margin: -20px; */
}

#news, #event, #join, #weather {
    padding: 10px;
}

#news a:hover {
    color: #14213d;
}

button:hover {
    background-color: #fca311;
}

#join button {
    background-color: #14213d;
    color: #e5e5e5;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    /* bottom: 300px; */
    z-index: 5;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
}

footer {
    background-color: #14213d;
    text-align: center;
    color: #e5e5e5;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

footer img {
    filter: invert(1);
    width: 25%;
}

#copyright {
    /* line-height: .5em; */
    font-size: .7em;
}

footer a {
    text-decoration: none;
    color: #fca311;
}

.discover {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.discover div {
    padding: 10px;
}

.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.membershipLevels {
    margin: 10px;
}

.form h1 {
    display: block;
    text-align: center;
}


.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    color: black;
}

.form form input, .form textarea {
    font-size: 1em;
    width: 450px;
    height: 30px;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
    /* font-size: 1.5em; */
    font-weight: 500;
    background-color: #e5e5e5;
}

.form textarea {
    height: 250px;
}

.form form label {
    /* font-size: 1.5em; */
    font-weight: 700;
    text-align: left;
    margin: 5px;
}

label, textarea, select{
    display: inline-block;
    /* float: left; */
    clear: left;
    width: 450px;
    text-align: left;
}

.form #submit {
    background-color: #14213d;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    /* bottom: 300px; */
    z-index: 5;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 15px;
}

.form #submit:hover {
    background-color: #fca311;
}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    text-align: center;
}

.thanks h1, .board h1 {
    display: block;
}

.directory #content {
    width: 100%;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.cards section {
    border: 2px solid #14213d;
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}

.directory h2, h1 {
    color: #14213d;
    text-align: center;
}
.directory .cards img {
    width: 300px;
    height: 180px;
}

.directory a {
    text-decoration: none;
    color: #14213d;
}

.directory p:first-of-type {
    font-style: italic;
    font-size: 0.75em;
}

.directory .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.icons button {
    background-color: white;
    border: none;   
}

.icons button:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.icons img {
    width: 50px;
}

.directory table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    overflow: hidden;
}

.directory td {

    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e5e5e5;
}

tr td {
    display: block;
}

#weather_top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#weather_top h2{
    text-align: center;
    font-size: 3em;
}

.board {
    padding: 10px;
}

.board img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
