body {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #311288;
    font-family: "Roboto", sans-serif;
    text-align: center;
    
    }
    header div {
      background-color: #b4c0d4;
    }
    header section {
      background-color: #b4c0d4;
    }
    fieldset {
      background-image: linear-gradient(rgb(214, 240, 252), rgb(228, 243, 222));
    }
  
    main {
      font-family: "Roboto", sans-serif;
    }
    main .container {
      background-color: white;
    }
    header,
    footer {
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      align-items: left;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
    }
    header,
    footer {
      width: 100%;
      height: auto;
      padding: 1.5rem;
      background-color: #b4c0d4;
      box-shadow: -1px -1px 30px 20px rgb(63 65 63 / 50%);
     
    }
  .profilePic {
    max-width: 250px;
    height: auto;
     
      
    }
    
    .profile-name {
      margin-left: 55px;
      right: 0;
    }
    
    .profilepic {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    }
    .headings h2, h3{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-left: .5rem;
      
    }
    
    .headings h2 {
      font-size: 1.7rem;
    }
    
    .headings h3 {
      font-size: 1.2rem;
    }
  
  .footer a {
    color: #b4c0d4;
  }
  .nested{
    display: block;
  }
  .icon {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 3%;
    max-height: 3%;
    border: 2px solid #074915;
    border-radius: 10px;
    box-shadow: hwb(195 98% 1%) 0px 0px 15px;
    align-items: left;
  }
  
  
  
  .header {
    display: flex;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0px;
    grid-template-columns: 1fr auto;
    align-items: left;
    background-color: #b4c0d4;
  }
  
  /* *****************navigation************************* */
  /* ******************** */
  /*         LOGO         */
  /* ******************** */
  .logo {
  display: flex;
  float: left;
  align-items: flex-start;
  }
  .logo img {
  width: 5rem;
  height: auto;
  }
  .logo picture {
  display: flex;
  }
  
  /* ******************** */
  /*        SOCIAL        */
  /* ******************** */
  
  .social img {
  width: 3%;
  height: 3%;
  align-items: flex-start;
  background-color: #b4c0d4;
  float: right;
  }
  a:link {
  text-decoration: none;
  background-color: #b4c0d4;
  }
  
  /*=============================================BANNER===================================*/
  /* BANNER */
  .banner {
  position: sticky;
  top: 0px;
  z-index: 10;
  background:   #b4c0d4;
  font-weight: 700;
  }
  .banner-content {
  max-width: 650px;
  height: 50px;
  padding: 2px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  border: 2px solid #074915;
  }
  .banner-text {
  flex-grow: 1;
  line-height: 1;
  font-weight: 500;
  }
  .banner-button {
  background: none;
  border: none;
  cursor: pointer;
  }
  .banner-button img {
  width: 30px;
  }
  .banner-text,
  .banner-button > span {
  color: black; 
  }
  .banner-button > span:hover {
  color: #14213d;
  }
   
  /* ************** HEADER **************** */
  
  .joinUs {
      font-size: .5rem;
      text-align: center;
    border-top: 2px solid #f3ebce;
    border-left: 2px solid #f3ebce;
    border-right: 1px solid #ffffff;
    background-color: #f3ebce;
  }
  
  .header {
    width: 100%;
    background-color: #b4c0d4;
    padding: 1rem 0;
    border: 1px solid gray; 
  }
  
  .headertop {
      padding: 5px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #b4c0d4;
  }
  .headertop:nth-child(1) { order:2; }
  .headertop:nth-child(2) { order:3; }
  .headertop:nth-child(3) { order:1; }
  
  /*=============end cyan css=========== */
  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
  html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
  
  /*----------- apply a natural box layout model to all elements --------------*/
  
  
  /* ************** HAMBURGER **************** */
  
  .menu {
    padding-left: 1rem;
  }
  
  header,
    nav,
    main {
    width: 100%;
    margin: 0 auto;
    }
  
  .nav button{
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color:#555;
  }
  
  .nav {
    background-color: #ebe7db;
    margin-right: .6rem;
    
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
  }
  
  nav ul li a {
    display: block;
    padding: .8rem 2vw;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    color:#333;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    text-align: center;
  }
  
  nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
  }
  
  nav ul { display: none; }
  
  nav ul.open { 
    display: block; 
    text-align: left;
  }
  
  #hamburgerBtn span:nth-child(1) { display: block; }
  #hamburgerBtn span:nth-child(2) { display: none; }
  
  #hamburgerBtn.open span:nth-child(1) { display: none; }
  #hamburgerBtn.open span:nth-child(2) { display: block;}
  
  
  /* ************** DATE **************** */
  
  .date {
    display: block;
    text-align: center;
    border-top: 2px solid #ebe7db;
    border-left: 2px solid #ebe7db;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background-color: #b4c0d4;
    padding: 0px;
    margin: 0 1rem;
    width: 650px;
    height: 50%;
  } 
  
  /*======================= //////// JOIN CSS ////////// ===========================*/
  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .membershipLevels {
    margin: 10px;
  }
 
  /* ************** MAIN **************** */
  main {
    display:grid;
    grid-template-columns: 98%;
    grid-gap: 5px;
    padding: 1rem 0;
    font-family: "Roboto", sans-serif;
    
  }
  
  main div {
    border: 1px solid rgb(237, 248, 217);
    background-color: #d4d3cf;
    text-align: center;
  }
  
  main {
    margin: 1px auto;
    position: relative;
    background-color: #d4d3cf;
    width: 100%;
    padding: 50px;
    border: solid blue 1px;
    
            box-sizing: border-box;
  }
  
  /* /////////////////////////// cards //////////////////////////////// */
  .cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
    padding: 15px;
   
  }
  section{
    background-color: #b9b9ca;
    border: #9797b7 solid 2px;
  }
  img{
    display: block;
    width: 225px;
    height: 275px;
    margin: auto auto 25px auto;
    box-shadow: rgb(49, 49, 49) 0 0 15px;
  }
  
  /* /////////////////////////// cards //////////////////////////////// */ 
  
  .directory-main {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, fit-content(1fr));
    grid-template-rows: repeat(3, fit-content(1fr));
    grid-gap: 1em;
}

#picture-1 {
    grid-column: 1;
    grid-row: 1;
}

#picture-2 {
    grid-column: 2;
    grid-row: 1;
}

#picture-3 {
    grid-column: 1;
    grid-row: 2;
}

#picture-4 {
    grid-column: 2;
    grid-row: 2;
}

#picture-5 {
    grid-column: 1;
    grid-row: 3;
}

#picture-6 {
    grid-column: 2;
    grid-row: 3;
}
  
  /* ************** directory collection **************** */
  
  article,
  section {
    margin: 0.75rem;
  }
  
  section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #ccc;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
  }
  
  .list {
    display: flex;
    flex-direction: column;
  }
  
  .list section {
    display: flex;
    align-items: center;
  }
  
  .grid section {
    flex-direction: column;
    text-align: center;
  }
  
  .grid section > * {
    margin: 0.1rem;
  }
  
  .list section {
    flex-direction: row;
    justify-content: left;
  }
  
  .list section > * {
    margin: 0 1rem;
    text-align: left;
  }
  
  .list section img {
    display: none; /* smaller viewports only */
  }
  
  section h3 {
    font-size: 1.5rem;
  }
  
  section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.9rem;
  }
  
  img {
    height: 75px;
    max-width: 100%; /* Images are jerks - Seattle*/
  }
  

  /* **************************************************** */
  /* import nav.css */
  body {
    color: #311288;
    width: 100%;
    margin: auto;
    background-color: rgb(238, 238, 238);
    line-height: 1.55em;
    height: 100%;
  }
  /* end of header small.css*/
  footer a {
    color: #311288;
  }
  .nested{
    display: block;
  }
  
  nav {
    background-color: #b4c0d4;
    color: #311288;
    font-size: 1.5rem;
    padding: 1.5px;
  }
  nav a,
  footer a {
    color: #8470a9;
    text-decoration: none;
  }
  .navigation {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 10px;
  }
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    color: #70a9a1;  
  }
  header,
  nav,
  main {
  width: 100%;
  margin: 0 auto;
  }
  /*==========================================*/
  /*////////////////////////////////MY SMALL CSSS ///////////////////////// */
  
  /* ////// small.css ////// */
  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
  html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
  
  /*----------- apply a natural box layout model to all elements --------------*/
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  
  
  /*----------- BODY --------------*/
  body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
  }
  /*----------- HEADER --------------*/
  
  /*----------- NAVIGATION --------------*/
  /*----------- MAIN --------------*/
  main {
    padding: 0 2%;
    min-height: 20rem;
    
  }
  
  /* ------------------ FORM ----------------------- */
  
  
  /*----------- FOOTER --------------*/
  
  
  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix:after {
  content: "";
  display: table;
  clear: both;
  }
  /* ========== END SMALL ========== */
  /* /////////////////////////////// directory css  //////////////////////////////////// */
 
/* MAIN */
main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

main h1 {
    display: none;
}

#spotlights h2 {
    display: none;
}

main section {
    /* height: 400px; */
    object-fit: cover;
}

main section div {
    height: 200px;
    padding: 50px;
    border: solid blue 1px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box
}

main section, div {
    background-color: #e5e5e5;
    margin: 10px;
    text-align: center;
    /* border: 2px solid #14213d; */
}
/*  ********************************************** */
.gridItems div {
  border: 1px solid #4c08ca;
  background-color: #aaa9a6;
  margin: 1rem 1rem;
  padding-right: 0rem;
  border: solid blue 1px;
} 

.grid section{
  display:grid;
  grid-area: 10fr;
  padding-bottom: 0rem;
  padding-left: 0rem;
  border: solid blue 10px;
}
/* ********************************************** */

.membershipLevels {
    margin: 10px;
}


label, textarea, select{
    display: inline-block;
    /* float: left; */
    clear: left;
    width: 450px;
    text-align: left;
}

.directory #content {
    width: 100%;
    margin: 0 auto;
}
.menuDirectory {

border: solid blue 1px;
}
.companies {
  border: 2px solid #14213d;
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.cards section {
    border: 2px solid #14213d;
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}

.directory h2, h1 {
    color: #14213d;
    text-align: center;
}
.directory .cards img {
    width: 300px;
    height: 180px;
}

.directory a {
    text-decoration: none;
    color: #14213d;
}

.directory p:first-of-type {
    font-style: italic;
    font-size: 0.75em;
}

.directory .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.icons button {
    background-color: white;
    border: none;   
}

.icons button:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.icons img {
    width: 50px;
}

.directory table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    overflow: hidden;
}

.directory td {

    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e5e5e5;
}

tr td {
    display: block;
}


.board {
    padding: 10px;
}

.board img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}


  /* /////////////////////////////////////////////////////////////////// */
  * ********************* */
/*       DIRECTORY       */
/* ********************* */

.menuDirectory {
  text-align: center;
}

.menuDirectory button {
	padding: 2rem;
}

.directory {
	margin: 1rem auto;
  position: relative;
	text-align: center; 
}

.gridArticle {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
	border: dotted dashed solid double;
  gap: 1rem;

}

.gridArticle section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightyellow);
  border: 3px solid var(--blackTrans);
  padding: 1rem;
}

.logoInside {
  display: none;
}

.gridArticle h3 {
  display: none;
}

.gridArticle img {
  width: auto;
  height: 100px;
  margin: 1rem;
}

.gridArticle p {
  margin: 0;
}

.grid section {
	border: 1px solid var(--blackTrans);
	padding: 1rem;
	background-color: var(--lightyellow);
}

.grid section h3 {
  display: none;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex; 
	flex-direction: column;
  column-gap: 2rem;
  width: 100%;
	justify-content: flex-start;
  max-width: 25rem;
  font-size: 1.3rem;
}

.list section h3 {
  display: contents;
}

.list section img {
	display: none;
} 

.list section:nth-child(even) {
  background-color: var(--lightgray);
}

#list img,
#grid img {
  width: 40px;
}
/*/////////////////////////////////////////////////////////////////////////*/
* ********************* */
/*       DIRECTORY       */
/* ********************* */

.directory {
	text-align: center; 
}

.gridArticle {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.gridArticle section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightyellow);
  border: 1px solid var(--blackTrans);
  padding: 1rem;
  font-size: 1rem;
}

.gridArticle h3 {
  display: none;
}

.gridArticle img {
  width: auto;
  height: 50px;
}

.grid section {
	border: 1px solid var(--blackTrans);
	background-color: var(--lightyellow);
}

.grid section h3 {
  display: none;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex; 
	flex-direction: column;
  width: 100%;
  max-width: 25rem;
}

.list section h3 {
  display: contents;
}

.list section img {
	display: none;
} 

.list section:nth-child(even) {
  background-color: var(--lightgray);
}

#list img,
#grid img {
  width: 40px;
  margin: 1rem;
}


/*///////////////////////////////////////prophetes css directory/////////////////////////////////////////////////*/

 
  h1{
  color: #5c5cac;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}
.cards{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;
  padding: 15px;
 
}
section{
  background-color: #b9b9ca;
  border: #9797b7 solid 2px;
}
img{
  display: block;
  width: 225px;
  height: auto;
  margin: auto auto 25px auto;
  box-shadow: rgb(49, 49, 49) 0 0 15px;
}
h2{
  text-align: center;
  color: #4e4e91;
  line-height: .75em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
p{
  text-align: center;
  line-height: .3em;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////*/
main {
  margin-left: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > p {
  min-height: 60px;
}
img {
  width: auto;
  max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
}
li > img {
  width: auto;
  height: 30px;
}

  
  /* /////////////////////footer////////////////////// */
  footer {
    display: flex;
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px;
    background-color: #b4c0d4;
    background-image: linear-gradient(rgb(214, 240, 252), rgb(230, 55, 84));
    box-shadow: -1px -1px 30px 20px rgb(63 65 63 / 50%);
    border: 1px solid gray;
  }
  footer {
    display: flex;
    width: 100%;
    height: 215px;
    grid-template-columns: 98%;
    box-shadow: -1px -1px 30px 20px rgba(63, 65, 63, 0.5);
  }
  footer img {
    max-width: 80px;
    max-height: 50px;
    background-size: cover;
  }
 
  footer p {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-top: -5px;
    font-family: 'Montserrat', sans-serif;
     font-size: 700;
  }

  footer a {
    background-color: #b4c0d4;
    padding: 2px 3px;
    border-radius: 5px;
    color: rgb(190, 114, 114);
  }
  
  footer a:hover {
    color: rgb(209, 199, 199);
    border: #333 solid 1px;
    background-color: rgb(231, 222, 222);
    font-size: 14px;
    transition: 1s;
  }
  footer div {
    background-color: #b4c0d4;
  }
  
  
  /*///////////////////////////////////////////////////////*/
  