:root {
    /* Color pallete */
    --primary-color: #043565;
    --secondary-color: #e6dfdf;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    border-radius: 1.5em 1.5em 0 0;
    background-color: #42f586;
    width: 500px;
    margin: 0 auto;
    padding: 0 0.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-item {
    padding: 0.5em 1em;
}

.nav-item a {
    text-decoration: none;
    padding: auto;
    color: white;
}

.nav-item:hover {
    background-color: #42f586;
}

.container {
    padding: 0.5em;
    background-color: var(--secondary-color);
    border: 1px rgb(114, 49, 49) solid;
    width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    background-color: var(--primary-color);
    padding: 0.25em 0;
    color: rgb(20, 13, 13);
    border-radius: 1.5em;
}

img {
    width: 300px;
    height: 400px;
    filter: blur(0em);
    transition: filter 1.5s;
    display: block;
    margin: auto;
    padding: 2rem;
}

[data-src] {
    filter: blur(0.25em);
}

picture {
    display: block;
    margin-bottom: 1em;
}

progressive-image.loading:before {
    background-color: #000;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    height: 3px;
    width: 100%;
  }
  
  progressive-image > img {
    opacity: 0;
    transition: opacity 400ms ease 0ms;
  }
  progressive-image > img:first-of-type {
    filter: blur(100px);
  }
  progressive-image > img.loaded {
    opacity: 1;
  }
  
  @keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
  }