body {
  margin: auto;
  background-color: white;
  color: #311288;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
header,
footer {
  max-width: 900px;
  margin: 0 auto;
}

header,
footer {
  padding: 1.5rem;
  background-color: #b4c0d4;
  border-radius: 15px;
}

#profilePic {
  max-width: 250px;
  height: auto;
   
    
  }
  
  #profile-name {
    margin-left: 55px;
    right: 0;
  }
  
  
  #profilepic {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  float: left;
  }


h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
}

main, main a {
  color: #000;
}

main ul {
  display: inline-block;
  text-align:center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px;
}

.grid-item {
  max-width: 400px;
  padding: 5px;
  background-color: rgb(250, 250, 237);
  border-radius: 20px;
  box-shadow: 2px 2px 22px;
  box-sizing: border-box;
  gap: 16px;
}

.chalk {
  max-width: 100px;
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


footer a {
  color: #b4c0d4;
}

.nested{
  display: block;
}

#icon {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 100px;
  max-height: 100px;
  border: 2px solid #074915;
  border-radius: 10px;
  box-shadow: hwb(195 98% 1%) 0px 0px 15px;
}


header {
  display: flex;
}
header img {
  max-width: 200px;
  background-size: cover;
}
nav {
  background-color: #b4c0d4;
  color: #128826;
  font-size: 1.5rem;
  padding: 1.5px;
}
nav a,
footer a {
  color: #70a9a1;
  text-decoration: none;
}

.navigation {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  color: #70a9a1;  
}

img {
  width: 200px;
  height: auto;
}


/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #eee;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #128826;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "🍔 ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}


nav ul.open {display: block;}
#humburgerBtn span:nth-child(1) {display: block;}
#humburgerBtn span:nth-child(2) {display: none;}
#humburgerBtn.open span:nth-child(1) {display: none;}
#humburgerBtn.open span:nth-child(2) {display: block;}
/* end of small.css */
