/*/////////////////////////////////////// w09 css  /////////////////////////////////////
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  color: #000;
  border-bottom: 1px solid #eee;
  text-shadow: 0 0 15px #999;
  width: 60%;
}

h2 {
  color: blue;
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  color: #333;
  margin: 7px 0 5px 0;
}

p {
  margin: 0;
}

main {
  margin-left: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > p {
  min-height: 60px;
}

img {
  width: auto;
	max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
}

li > img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}

.caption {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  border: 1px solid #ccc;
  background-color: lightyellow;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1rem 1fr;
}

.caption h6 {
  position: absolute;
  top: -2.3rem;
  left: -0.25rem;
}

.caption > div {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #bbb;
}

.caption > p {
  font-size: 0.75rem;
}

.most {
  background-color: #bed;
}

.fav {
  background-color: skyblue;
}

.own {
  background-color: rosybrown;
}

/* ////////////////////////// end w09 css       //////////////////////////// */




:root {
    --primary-color: #043565;
    --secondary-color: #e6dfdf;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5em;
}

main {
    max-width: 500px;
    margin: 0 auto;
    border: 0.5px solid black;
    background-color: var(--secondary-color);
}

header {
    border-radius: 1.5em 1.5em 0 0;
    background-color: black;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 1em;
}

h1 {
    padding-top: 1em;
    text-align: center;
    color: white;
    display: block;
}

.navbar {  
    margin: 0 auto;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-item {
    padding: 0.5em 1em;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: #303030;
}

section {
    margin: 1em;
    border: 1px solid black;
    background-color: #eeeeee;
    padding: 0.5em;
}

h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    padding-left: 0;
    font-size: 0.75em;
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

footer {
    background-color: var(--primary-color);
    color: white;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 0 0 1.5em 1.5em;
}

footer p {
    margin: 0 1em;
    padding: 1em 0;
}
//////////////////////////////////////////////////////// */