main {
  display:grid;
  grid-template-columns: 98%;
  grid-gap: 5px;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
}

main div {
  border: 1px solid rgb(237, 248, 217);
  background-color:  #FFC800;
  text-align: center;
}
.main .container {
  margin: 1px auto;
  position: relative;
  background-color: #5e5d59;
  width: 400px;
  padding: 50px;
  border: solid blue 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container.squre {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.layout .container {
padding: 10px;
}

#dm {
  -webkit-tap-layout-color: transparent;
}


.content {
  width: 100%;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.cards section {
  border: 1px solid navy;
  background-color: lightblue;
  padding: 30px;
  text-align: center;
  width: 300px;
  margin: 20px;
}

h2, h1 {
  color: navy;
  text-align: center;
}
img {
  width: 90%;
  box-shadow: 5px 10px 8px 5px #888888;
}
.cards {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  border: 1px solid #ccc;
  background-color: lightyellow;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1rem 1fr;
}

.cards h6 {
  position: absolute;
  top: -2.3rem;
  left: -0.25rem;
}

.caption > div {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #bbb;
}

.cards > p {
  font-size: 0.75rem;
}

.most {
  background-color: #bed;
}

.fav {
  background-color: skyblue;
}

.own {
  background-color: rosybrown;
}
