footer {
    display: flex;
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px;
    background-color: #b4c0d4;
    background-image: linear-gradient(rgb(214, 240, 252), rgb(230, 55, 84));
    box-shadow: -1px -1px 30px 20px rgb(63 65 63 / 50%);
    border: 1px solid gray;
}
