@media (max-width: 32.5em) {
    body {
        min-width: 400px;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        margin: 50px;
    }

    header, main {
        width: 400px;
    }

}
