body {
  background-color: #f6f1d1;
  color: #311288;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
header,
main,
footer {
  max-width: 900px;
  margin: 0 auto;
}

header,
footer {
  padding: 1.5rem;
  background-color: #b4c0d4;
}

#profilepic {
  max-width: 250px;
  height: auto;
   
    
  }
  
  #profilepic {
    margin-left: 55px;
    right: 0;
  }
  
  
  #profilepic {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  float: center;
  }

  img {
    max-width: 100%;
  }

  figure {
    margin: 2rem 0;
    position: relative;
  }
  
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5rem 1rem 1rem;
    background: linear-gradient(to top, hsla(230, 40%, 5%, 0.95), hsla(230, 40%, 5%, 0));
  }
  
  figure {
    margin: 2rem 0;
  }


h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
}

main, main a {
  color: black;
}

main ul {
  display: inline-block;
  text-align:center;
}


footer a {
  color: #b4c0d4;
}

.nested{
  display: block;
}

/* sma//.css */
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  max-width: 950px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Slabo 27px', serif;
}

h1 {
  text-align: center;
  font-family: 'Nova Mono', monospace;
}

h2 {
  justify-self: stretch;
  text-align: center;
  font-family: 'Nova Mono', monospace;
  padding: 1rem;
  margin: 0;
}

h2.fitts {
  background: dodgerblue;
}

h2.whiteSpace {
  background: firebrick;
}

h2.repetition {
  background: darkseagreen;
}

p {
  text-align: justify;
  line-height: 1.5rem;
}

a {
  padding-bottom: 1rem;
  font-family: 'Nova Mono', monospace;
}

img {
  max-width: 300px;
  width: 100%;
  border: 1px solid black;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  border: 1px dashed black;
  padding: .5rem;
}

