@media (min-width: 32.5em) {
  header,
  footer {
    border-radius: 5px;
  }

  #profilePic {
    float: right;
    max-width: 200px;
  }
  #icon {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      max-width: 100px;
      max-height: 100px;
      border: 2px solid #074915;
      border-radius: 10px;
      box-shadow: hwb(195 98% 1%) 0px 0px 15px;
    }
    
  #icon {
      min-width: 100px;
      margin-left: 40px;
      border: 4px solid #912a2d;
  }

  #sage {
      margin-top: -auto;
      margin-bottom: 10px;
      width: 200px;
      height: 200px;
  }

  h1 {
      font-size: 40px;
  }

  #top-h1 {
      margin-top: 20px;
      margin-right: 40px;
  }
} 



    /* new */
    @media only screen and (min-width:34.5em) {

      /* ********************* */
      /*      MAIN SECTION     */
      /* ********************* */
    
      main {
        grid-template-columns: 23% 25% 25% 25%;
      }
    
      .herodiv img{
        height: 25rem;
      }
    
      .hero {
        grid-column: 1 / -1;
        grid-row: 1;
      }
    
      .news {
        grid-column: 1 / -1;
        grid-row: 2;
      }
    
      .spotlight{
        grid-auto-flow: column;
        grid-column: 1 / 5;
        grid-row: 3;
      }
    
      .spotlight3 {
        display: none
      } 
    
      .join {
        display: grid;
        grid-column: 1 / -1;
        grid-row: 4;
      }
    
      .event {
        grid-column: 1 / 4;
        grid-row: 5;
      }
    
      .weather {
        grid-column: 4 / 5;
        grid-row: 5;
      }
    
    
      /* ********************* */
      /*         FOOTER        */
      /* ********************* */
    
      footer {
        grid-template-columns: 10% 40% 1fr;
      }
    
      .imagefooter {
        grid-column: 1 / 2;
        grid-row: 1;
      }
    
      .namefooter {
        grid-column: 2 / 3;
        grid-row: 1;
      }
    
      .mapfooter {
        grid-column: 3 / 4;
        grid-row: 1;
      }
    
    
       /* ********************* */
       /*     FOOTER  JAVAS     */
       /* ********************* */
    
      .jsfooter1 {
        flex-direction: row;
      } 
    }
    
    