/*chny medium.css*/
      /*medium.css*/
/* 35 rem is also 560px when base font is 16px */
@media only screen and (min-width: 35rem) {

  nav button {display: none;}

  nav ul#primaryNav{
      display: flex;
      justify-content: flex-start;
      margin-left: 2vw;
      border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
      border: none;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
}

/* chny end medium */


@media only screen and (min-width:34.5em) {

  /* ********************* */
  /*      MAIN SECTION     */
  /* ********************* */

  main {
    grid-template-columns: 23% 25% 25% 25%;
  }

  .herodiv img{
    height: 25rem;
  }

  .hero {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .news {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .spotlight{
    grid-auto-flow: column;
    grid-column: 1 / 5;
    grid-row: 3;
  }

  .spotlight3 {
    display: none
  } 

  .join {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4;
  }

  .event {
    grid-column: 1 / 4;
    grid-row: 5;
  }

  .weather {
    grid-column: 4 / 5;
    grid-row: 5;
  }
