body {
  margin: auto;
  background-color: white;
  color: #311288;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
header,
footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  align-items: left;
  justify-content: center;
}
header,
footer {
  padding: 1.5rem;
  background-color: #b4c0d4;
  border-radius: 15px;
  box-shadow: -1px -1px 30px 20px rgb(63 65 63 / 50%);
 
}

#profilePic {
  max-width: 250px;
  height: auto;
   
    
  }
  
  #profile-name {
    margin-left: 55px;
    right: 0;
  }
  
  
  #profilepic {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  float: left;
  }
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
}
main, main a {
  color: #000;
}
main ul {
  display: inline-block;
  text-align:center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px;
}
.grid-item {
  max-width: 400px;
  padding: 5px;
  background-color: rgb(250, 250, 237);
  border-radius: 20px;
  box-shadow: 2px 2px 22px;
  box-sizing: border-box;
  gap: 16px;
}
.chalk {
  max-width: 100px;
}
.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer a {
  color: #b4c0d4;
}
.nested{
  display: block;
}
#icon {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 100px;
  max-height: 100px;
  border: 2px solid #074915;
  border-radius: 10px;
  box-shadow: hwb(195 98% 1%) 0px 0px 15px;
}
header {
  display: flex;
}
header img {
  max-width: 200px;
  background-size: cover;
}
footer {
  display: flex;
}
footer img {
  max-width: 200px;
  background-size: cover;
}
/* import nav.css */
body {
  color: #311288;
  width: 100%;
margin: auto;
background-color: rgb(238, 238, 238);
line-height: 1.55em;
height: 100%;
}

/* end of header small.css*/
footer a {
  color: #311288;
}
.nested{
  display: block;
}
#icon {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 100px;
  max-height: 100px;
  border: 2px solid #074915;
  border-radius: 10px;
  box-shadow: hwb(195 98% 1%) 0px 0px 15px;
}

nav {
  background-color: #b4c0d4;
  color: #311288;
  font-size: 1.5rem;
  padding: 1.5px;
}
nav a,
footer a {
  color: #70a9a1;
  text-decoration: none;
}
.navigation {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  color: #70a9a1;  
}
img {
  width: 200px;
  height: auto;
}
.location img {
  width: 5px;
  height: 5px;
}

/* header set icons.css */
header {
  background-color: #b4c0d4;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #bbb;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.logo img {
  width: 100%;
  height: auto;
}
.headings {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}
.headings h1 {
  font-size: 1.5rem;
}
.m {
  letter-spacing: 1pt;
  color: forestgreen;
  font-weight: 700;
  font-size: 0.8rem;
}
.social {
  margin-right: 1.5rem;
}
.social svg {
  width: 5px;
  height: 5px;
}
.social img {
  width: 20px;
  height: 20px;
}
/*date.css*/
#lastModified {
  text-align: center;
  font-size: smaller;
  margin: 0;
  background-color: #abe;
}

/* Larger viewports */
@media only screen and (min-width: 32.5em) {
  header img {
    width: 100%;
  }
  .headings h1 {
    font-size: 2rem;
    margin: 0;
  }
  .m {
    letter-spacing: 1.5pt;
    font-size: 0.9rem;
  }
}/* end header set icons.css */


/*-----        css font properties   -----
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
                ----    */



body {
color: #311288;
max-width: 100%;
margin: auto;
background-color: rgb(238, 238, 238);
font-family: 'Open Sans', sans-serif; 
line-height: 1.55em;
height: 100%;
}

header,
nav,
main {
max-width: 100%;
margin: 0 auto;
}
/* ========================= */
/*navigation*/


/* ========================== */  
/*navigation*/
.menu {
padding-left: 1rem;
}

nav button{
background: transparent;
border: none;
font-size: 2.5rem;
color:#555;
}

nav {
background-color: #6cb1ff;
margin-left: .6rem;
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
}

nav ul li a {
display: block;
padding: .8rem 2vw;
font-size: 1.3rem;

text-decoration: none;
color:#333;
border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
background-color: rgba(0,0,0,0.2);
color: #fff;
}

nav ul li a:hover {
background-color: rgba(0,0,0,0.3);
}

nav ul { display: none; }

nav ul.open { 
display: block; 
text-align: left;
}

#hamburgerBtn span:nth-child(1) { display: block; }
#hamburgerBtn span:nth-child(2) { display: none; }

#hamburgerBtn.open span:nth-child(1) { display: none; }
#hamburgerBtn.open
/* ========================= */ 
main {
display: block;
font-size: 15.3px;
padding: 20px;
}
main h2 {
margin-bottom: auto;
}
a {
text-decoration: none;
color: #007ADB;
}
.color-scheme {
display: grid;
grid-template-columns: auto;
}

header {
display: grid;
padding: 0px;
grid-template-columns: 1fr auto;
align-items: left;
width: 100%;
}
.color-image {
margin: 5px;
  width: 100%;
height: auto;
border-radius: 5px;
  box-shadow: 0 0 5px #777;
}
.iwf-logo {
margin: 15px;
  width: 40%;
height: auto;
}

h2 {
color: grey;
font-family: 'Noto Sans', sans-serif; 
  font-size: 24px;
}
h1 {
display: grid;
font-family: 'Noto Sans', sans-serif; 
font-size: 40px;
grid-column: 1;
}
p {
font-size: 17px;
}
.typo {
margin-bottom: 0px;
}
ul {
margin-top: 5px;
font-size: 17px;
}
/*=======================================*/
.herodiv {
  width: 90%;
  height: 100%;
  border: solid #000 1px;
  position: relative;
  background-color: #f2e8cb;
  margin: 0 auto;
  padding: 50px;
  grid-column: 1/3;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}


.hero-ph{
  margin: 0 auto;
  position: relative;
  background-color: #f2e8cb;
  width: 50%;
  padding: 1rem;
  
 
  border: solid blue 1px;
  
          box-sizing: border-box;
   
}
.button {
  position: absolute;
  bottom: 25px;
  right: 50px;
  background: radial-gradient(#eee, #4567aa);
  border: 1px solid #000;
  padding: 1rem;
  box-shadow: 0 0 30px #333;
  opacity: 0.8;
  text-align: center;
  margin: 0 auto;
  
}
/* =====399 .news==== */
.event {
  width: 25%;
  margin: 1px auto;
  position: absolute;
  background-color: #f2e8cb;
  top: 5%;
  left: 5%;
  padding: 1rem;
  border: solid blue 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  grid-column: 1/2;
}
.weather {
 
  margin: 1px auto;
  position: relative;
  background-color: #f2e8cb;
  width: 25%;
  padding: 1rem;
  float: left;
  top: -220px;
  border: solid blue 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  grid-column: 3/3;
}

.news {
  padding: 1rem;
  margin: 1px auto;
  position: relative;
  background-color: #f2e8cb;
  width: 50%;
  padding: 50px;
  border: solid blue 1px;
  
          box-sizing: border-box;

} 
.spotlight {
  margin: 1px auto;
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: white;
  width: 25%;
  height: 60%;
  border: solid blue 1px;
  
          box-sizing: border-box;
}
.spotlight1 {
  margin: 1px auto;
  position: relative;
  background-color: #f2e8cb;
  width: 100%;
  border: solid blue 1px;
  padding: 1rem;
          box-sizing: border-box;
}
.spotlight2 {
  margin: 1px auto;
  position: relative;
  background-color: #f2e8cb;
  width: 100%;
  border: solid blue 1px;
  padding: 1rem;
          box-sizing: border-box;
}
.spotlight3 {
  margin: 1px auto;
  position: relative;
  background-color: #f2e8cb;
  width: 100%;
  padding: 1rem;
  border: solid blue 1px;
  
          box-sizing: border-box;
}


.join {
  margin: 1px auto;
  position: absolute;
  background-color: #f2e8cb;
  width: 25%;
  height: 50%;
  bottom: 5%;
  left: 5%;
  float: left;
  padding: 1rem;
  border: solid blue 1px;
 
          box-sizing: border-box;
}



footer {
background-color: #b4c0d4;
color: #311288;
text-align: center;
font-size: 1.5rem;
font-family: 'Open Sans', sans-serif;
padding: 10px 0;
max-width: 100%;
margin: 0 auto;
}
