@media only screen and (min-width:34.5em) {

  main {
    grid-template-columns: 23% 25% 25% 25%;
  }

  .hero {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .news {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .spotlight{
    grid-auto-flow: column;
    grid-column: 1 / 5;
    grid-row: 3;
  }

  .spotlight3 {
    display: none;
  } 

  .join {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4;
  }

  .event {
    grid-column: 1 / 4;
    grid-row: 5;
  }

  .weather {
    grid-column: 4 / 5;
    grid-row: 5;
  }

  footer {
    grid-template-columns: 10% 40% 1fr;
  }

  .imagefooter {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .namefooter {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .mapfooter {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .jsfooter1 {
    flex-direction: row;
  } 
}

/*-----------------------------*/
 footer {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: 1fr 4em;
  height: 200px;
}

.footer-container {
  margin: 0;
  padding: 0;
}

.footer-img {
  padding-top: 1em;
  grid-column: 1;
  grid-row: 1;
}

.footer-left {
  grid-column: 2;
  grid-row: 1;
}

.footer-right {
  grid-column: 3;
  grid-row: 1;
}

.footer-bottom {
  grid-column: 1 / 4;
  grid-row: 2;
}

.hamburgerBtn {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* =======end====== */

/* =================== optimizing path medium.css =========================*/


/* ===== medium.css ===== */
/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */

/* ===== end medium.css ===== */