body {
    margin: auto;
    background-color: white;
    color: #311288;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  header,
  footer {
    max-width: 900px;
    margin: 0 auto;
  }
  
  header,
  footer {
    padding: 1.5rem;
    background-color: #b4c0d4;
    border-radius: 15px;
  }
  
  #profilePic {
    max-width: 250px;
    height: auto;
     
      
    }
    
    #profile-name {
      margin-left: 55px;
      right: 0;
    }
    
    
    #profilepic {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    float: left;
    }
  
  
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  
  main, main a {
    color: black;
  }
  
  main ul {
    display: inline-block;
    text-align:center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
  }
  
  .grid-item {
    max-width: 400px;
    padding: 5px;
    background-color: rgb(250, 250, 237);
    border-radius: 20px;
    box-shadow: 2px 2px 22px;
    box-sizing: border-box;
    gap: 16px;
  }
  
  .chalk {
    max-width: 100px;
  }
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  footer a {
    color: #b4c0d4;
  }
  
  .nested{
    display: block;
  }
  
  #icon {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 100px;
    max-height: 100px;
    border: 2px solid #074915;
    border-radius: 10px;
    box-shadow: hwb(195 98% 1%) 0px 0px 15px;
  }
  
  
  header {
    display: flex;
  }
  header img {
    max-width: 200px;
    background-size: cover;
  }
  nav {
    background-color: #b4c0d4;
    color: #311288;
    font-size: 1.5rem;
    padding: 1.5px;
  }
  nav a,
  footer a {
    color: #70a9a1;
    text-decoration: none;
  }
  
  .navigation {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 10px;
  }
  .navigation li {
    display: none;
  }
  .navigation a {
    display: none;
    color: #311288;  
  }
  
  img {
    width: 200px;
    height: auto;
  }



nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 0 30px #333;
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #708080;
	color: yellow;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	font-size: 0.85rem;
}

main .submenu {
	margin: 1rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #eee;
}

.submenu ul {
	margin-left: 2rem;
}



/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main picture {
		display: block;
	}
}

@media (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}
}
