body {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: rgb(233, 157, 17);
    color: black;
    text-align: center;
    padding: 1.5rem;
}

a.school:link {
    color: slateblue;
}

a.school:visited {
    color: black;
}

a.school:hover {
    color: wheat;
}

a.school:active {
    color: seagreen;
}

img {
    width: 200px;
    height: auto;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Trirong', serif;
}