img {max-width: 320px;
}
body {
	margin: 0;
	text-align: center;
	font-size: 24px;
	background: #333;
	color: white;
	overflow: hidden;
}
header{
	padding: 12px 0;
}
input, button {
	font-size: 24px;
}
li {
	list-style: none;
}
p {
	font-size: 22px;
font-family: sans-serif;
}
ul {
	
	display:flex;
	width: 100vw;
	overflow: scroll;
}